.cell1{
  float: left;
  width: 50%;
  padding: 5% 5% 5% 20%;
}
.cell2{
  float: right;
  width: 50%;
  padding: 5% 20% 5% 5%;
}
.box{
  margin-left: 00px;
}
.thirdtitle{
  margin-left: 25px;
}
.red-line{
  height: 0.75em;
  width: 60%;
  margin-top: 100px;
  background-color: #c66;
  display: block;
  border-radius: 0.25em;
}
.list {
  margin-left:20%;
  margin-right:20%;
}
.project-list{
  margin-bottom: 100px;
}
.list-group-item{
  padding: 15px;
  background-color: #f5f4f4; 
  margin: 0px;
  border-bottom: 1px solid grey;
  border-top:none;
  border-left: none;
  border-right:none;
}
.space{
  margin: 100px;
}
.btn{
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
  box-sizing: border-box;
  box-shadow: none !important;
  font-family: dosis,"HelveticaNeue-CondensedBold","trebuchet ms",sans-serif;
}
.cell, .list{
  font-family: bitter,georgia,serif;
}
h5{
  font-weight:600;
}
.header{
  font-family: dosis,"HelveticaNeue-CondensedBold","trebuchet ms",sans-serif;
}

.col1{
  float: left;
  width: 50%;
  height: 450px;
}
.col2{
  float:right;
  width:50%;
  height:450px;
  background-color: #f9f4ed;
}
.intro{
  margin:90px 0px 0px 50px; 
}
.col{
  padding:20px 100px;
}